{% extends 'partials/base.html' %}
{% load static %}
{% load widget_tweaks%}

{% block title %}All Draw{% endblock title %}

{% block content %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Add Win Draw</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Add Win Draws</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body p-4">
									<div class="row">
										<form method='POST' action='' enctype='multipart/form-data' novalidate> {%csrf_token%}
										<div class="col-lg-6">
											<div class="mt-3 mt-lg-0">
												<div class="mb-3">
													<label class="form-label"> Draw Type</label>
													{% render_field form.add_draw class="form-control" placeholder="Text.." %}
												</div>
												<div class="mb-3">
													<label for="example-date-input" class="form-label"> Total Draws </label>
													{% comment %} <input class="form-control" type="date" value="2022-07-26" id="example-date-input" {% endcomment %}
													{% render_field form.win_draw  class="form-control"  %}
												</div>
												<div class="mb-3">
													<label for="example-date-input" class="form-label">Mobile Only</label>
													{% comment %} <input class="form-control" type="date" value="2022-07-26" id="example-date-input" {% endcomment %}
													{% render_field form.mobile_only class="form-control"  %}
												</div>
												<div class="mb-3">
													<label for="example-date-input" class="form-label"> Total Price</label>
													{% comment %} <input class="form-control" type="date" value="2022-07-26" id="example-date-input" {% endcomment %}
													{% render_field form.total_price class="form-control"  %}
												</div>
												<div class="mb-3">
													<label for="example-date-input" class="form-label">Total Won</label>
													{% comment %} <input class="form-control" type="date" value="2022-07-26" id="example-date-input" {% endcomment %}
													{% render_field form.total_won class="form-control"  %}
												</div>
												<div class="mb-3">
													<label for="example-date-input" class="form-label">Title</label>
													{% comment %} <input class="form-control" type="date" value="2022-07-26" id="example-date-input" {% endcomment %}
													{% render_field form.title class="form-control"  %}
												</div>
												
												
		
											</div>
											<button type="Submit" class="btn btn-success waves-effect waves-light">Submit</button>
											<button type="button" class="btn btn-danger waves-effect waves-light">Cancel</button>
										</div>
										</form>
									</div>
								</div>
							</div>
						</div> <!-- end col -->
					</div>
                    
                </div>
            </div>
            <!-- End Page-content -->
            
            {% block footer %}
                {% include 'partials/footer.html' %}
            {% endblock footer %}
        </div>
        <!-- end main content-->
{% endblock content %}

{% block extra_js %}
    <!-- Card Masonry -->
    <script src="{% static 'libs/masonry-layout/dist/masonry.pkgd.min.js'%}"></script>
{% endblock extra_js %}
