{% extends "mainwebsite/base/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <!-- inner hero section start -->
<section class="inner-banner bg_img" style="background: url({% static 'mainwebsite/images/inner-banner/bg2.jpg' %}) top;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-xl-6 text-center">
        <h2 class="title text-white">Lottery Details</h2>
        <ul class="breadcrumbs d-flex flex-wrap align-items-center justify-content-center">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Lottery Details</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- inner hero section end -->

    <section class="padding-top padding-bottom">
      <div class="container">
          <div class="row gy-5">
              <div class="col-lg-6">
                  <div class="game-details-left"> 
                          <div class="col" id="lottery_selected_text">
                            <ul id="lottery_balls">
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/lottery-ball-1.png' %}"  alt="1"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/lottery-ball-2.png' %}"  alt="2"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/lottery-ball-3.png' %}" alt="3"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-4.png' %}" alt="4"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-5.png' %}" alt="5"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-6.png' %}" alt="6"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-7.png' %}" alt="7"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-8.png' %}" alt="8"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-9.png' %}" alt="9"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-10.png' %}" alt="10"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-11.png' %}" alt="11"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-12.png' %}" alt="12"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-13.png' %}" alt="13"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-14.png' %}" alt="14"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-15.png' %}" alt="15"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-16.png' %}" alt="16"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-17.png' %}" alt="17"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-18.png' %}" alt="18"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-19.png' %}" alt="19"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-20.png' %}" alt="20"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-21.png' %}" alt="21"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-22.png' %}" alt="22"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-23.png' %}" alt="23"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-24.png' %}" alt="24"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-25.png' %}" alt="25"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-26.png' %}" alt="26"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-27.png' %}" alt="27"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-28.png' %}" alt="28"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-29.png' %}" alt="29"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-30.png' %}" alt="30"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-31.png' %}" alt="31"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-32.png' %}" alt="32"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-33.png' %}" alt="33"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-34.png' %}" alt="34"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-35.png' %}" alt="35"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-36.png' %}" alt="36"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-37.png' %}" alt="37"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-38.png' %}" alt="38"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-39.png' %}" alt="39"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-40.png' %}" alt="40"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-41.png' %}" alt="41"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-42.png' %}" alt="42"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-43.png' %}" alt="43"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-44.png' %}" alt="44"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-45.png' %}" alt="45"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-46.png' %}" alt="46"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-47.png' %}" alt="47"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-48.png' %}" alt="48"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-49.png' %}" alt="49"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-50.png' %}" alt="50"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-51.png' %}" alt="51"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-52.png' %}" alt="52"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-53.png' %}" alt="53"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-54.png' %}" alt="54"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-55.png' %}" alt="55"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-56.png' %}" alt="56"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-57.png' %}" alt="57"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-58.png' %}" alt="58"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-59.png' %}" alt="59"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-60.png' %}" alt="60"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-61.png' %}" alt="61"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-62.png' %}" alt="62"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-63.png' %}" alt="63"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-64.png' %}" alt="64"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-65.png' %}" alt="65"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-66.png' %}" alt="66"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-67.png' %}" alt="67"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-68.png' %}" alt="68"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-69.png' %}" alt="69"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-70.png' %}" alt="70"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-71.png' %}" alt="71"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-72.png' %}" alt="72"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-73.png' %}" alt="73"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-74.png' %}" alt="74"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-75.png' %}" alt="75"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-76.png' %}" alt="76"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-77.png' %}" alt="77"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-78.png' %}" alt="78"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-79.png' %}" alt="79"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-80.png' %}" alt="80"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-81.png' %}" alt="81"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-82.png' %}" alt="82"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-83.png' %}" alt="83"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-84.png' %}" alt="84"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-85.png' %}" alt="85"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-86.png' %}" alt="86"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-87.png' %}" alt="87"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-88.png' %}" alt="88"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-89.png' %}" alt="89"></li>
                              <li><img src="{% static 'mainwebsite/images/game/lottery-balls/Lottery-Balls-90.png' %}" alt="90"></li>
                            </ul>
                            </div>
                      <div class="cd-ft"></div>
                  </div>
              </div>
              <div class="col-lg-6">
                <div class="game-details-right">
                  <form id="game" novalidate="novalidate" action="" method='POST'>{%csrf_token%}
                    <h3 class="mb-4 text-center">Current Balance : <span class="base--color"><span class="bal">GH₵</span> 50.00</span></h3>
                    <h3 class="mb-4 text-center">Banker</h3>
                    <div class="btn-group mr-2 mb-5 d-flex justify-content-center" role="group" aria-label="First group">
                      <button type="button" class="btn btn-secondary">11</button>
                      <button type="button" class="btn btn-secondary">26</button>
                      <button type="button" class="btn btn-secondary">30</button>
                      <button type="button" class="btn btn-secondary">04</button>
                      <button type="button" class="btn btn-secondary">56</button>
                    </div><hr>


                    <h4>Select lottery type (inser in python)</h4>
                    <div class="form-group mt-4 mt-sm-4">
                      
                      <div for="game-type" class="input-pre-icon"><i class="las la-angle-double-down"></i></div>
                      {% render_field form.perm_type class="form-select form--control style--two" id="lottery_type" placeholder=" "%}
                      {% comment %} <select class="form-select form--control style--two">
                          <option>2 Direct</option>
                          <option>3 Direct</option>
                          <option>Perm 2</option>
                          <option>Perm 3</option>
                      </select> {% endcomment %}
                    </div> <br>
                    <div class="form-group ">
                      <div class="input-group mb-3">
                          {% comment %} <input type="text" name="price" class="form-control form--control amount-field" placeholder="Enter amount">  {% endcomment %}
                          {% render_field form.price id="" class="form-control form--control amount-field" placeholder="Enter amount" %}
                          <span class="input-group-text text-white bg--base" id="basic-addon2">GH₵</span>
                      </div>
                      <small class="form-text text-muted"><span class="text-warning"><i class="fas fa-info-circle mr-2"></i> Lines: 1 | <i class="fa fa-trophy mr-2"></i> Min Win:  GH₵ 200 |<i class="fas fa-money-bill mr-2"></i> Price: GH₵ 1 </span></small>
                    </div>

                    
                    <div class="form-group mt-2 mt-sm-5 justify-content-center d-flex flex-wrap justify-content-between">
                        <div class="row w-100 justify-content-center" id="lottery_boxes">
                          <ul id="selected_numbers" class="w-auto p3">
                            <li>?</li>
                            <li>?</li>
                            <li>?</li>
                          </ul>
                        </div>
                        {% comment %} <button type="Submit" class="cmn--btn active w-100 text-center">Stake</button> {% endcomment %}
                      {% comment %} </form> {% endcomment %}
                    </div>
                    

                    <div class="mt-5 text-center">
                      {% comment %} <input type='Submit' value='Stake' class="cmn--btn active w-100 btn--round"> {% endcomment %}
                      <button type="Submit" class="cmn--btn active w-100 text-center">Stake</button>
                      <a data-bs-toggle="modal" data-bs-target="#exampleModalCenter" class="mt-3 btn btn-link btn--sm radius-5">Lottery Instruction <i class="las la-info-circle"></i></a>
                    </div>
                  </form>
                </div>
              </div>
          </div>
      </div>
    </section>

    <!-- Game Section Starts Here -->
   
    <section class="game-section padding-top padding-bottom bg_img" style="background: url(assets/images/game/bg3.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6">
                    <div class="section-header text-center">
                        <h2 class="section-header__title">You may Also Like</h2>
                        <p>Check out other NLA Lottery Games</p>
                    </div>
                </div>
            </div>
           
            <div class="row gy-4 justify-content-center">
                <!--Play Game-->
                <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6">
                    <div class="game-item">
                        <div class="game-inner">
                            <div class="game-item__thumb">
                                <img src="{% static 'mainwebsite/images/game/lottery-icon.png'%}" alt="game">
                            </div>
                            <div class="game-item__content">
                                <h4 class="title">{{draw.add_draw.draw_type}}</h4>
                                <p class="invest-info">Tues, 21st oct., 2022</p>
                                <p class="invest-amount">Lottery Ends in: </p>
                                <div class="container">
                                    <div class="row">
                                      <div class="col-3">
                                        <p>00<br/>days</p>
                                      </div>
                                      <div class="col-3">
                                        <p>00<br/>hrs</p>
                                      </div>
                                      <div class="col-3">
                                        <p>00<br/>min</p>
                                      </div>
                                      <div class="col-3">
                                        <p>00<br/>sec</p>
                                      </div>
                                    </div>
                                    
                                  </div>
                                  
                                <a href="{% url 'gamedetails' %}" class="cmn--btn active btn--md radius-0">Play Now</a>
                            </div>
                        </div>
                        <div class="ball"></div>
                    </div>
                </div>
                <!--End Play Game-->
            </div>
           
        </div>
    </section>
    <!-- Game Section Ends Here -->
   
    


    <div class=" modal custom--modal fade show" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  aria-modal="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content section-bg border-0">
                <div class="modal-header modal--header bg--base">
                    <h4 class="modal-title text-dark" id="exampleModalLongTitle">Lottery Rules</h4>
                </div>
                <div class="modal-body modal--body">
                    <h3 class="title mb-2">How to play Lottery: </h3>
                    <p>Players select at least one out of ninety balls numbered 1-90. A draw is held at the end of each day except Sundays to randomly select 5 out of the 90 balls. If the numbers on the 5 selected balls match any of the numbers selected by the player at the time of play, then he is a winner. The daily draw games are Monday Special, Lucky Tuesday, Midweek, Fortune Thursday, Friday Bonanza and National Weekly on Saturdays</p>
                </div>
                <div class="modal-footer modal--footer">
                    <button type="button" class="btn btn--danger btn--md" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}