{% extends "mainwebsite/base/base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block content %}
    <!-- inner hero section start -->
<section class="inner-banner bg_img" style="background: url('{% static 'mainwebsite/images/inner-banner/bg2.jpg' %}) top;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-xl-6 text-center">
        <h2 class="title text-white">Change Password</h2>
        <ul class="breadcrumbs d-flex flex-wrap align-items-center justify-content-center">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Change Password</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- inner hero section end -->


        <!-- Dashboard Section Starts Here -->
        <div class="dashboard-section padding-top padding-bottom ">
            <div class="container">
                <div class="row">
                    {% comment %} {% include 'mainwebsite/include/user-dashboard.html' %} {% endcomment %}
                    <div class="col-lg-9">
                        <div class="user-toggler-wrapper d-flex align-items-center d-lg-none">
                            <h4 class="title m-0">User Dashboard</h4>
                            <div class="user-toggler">
                                <i class="las la-sliders-h"></i>
                            </div>
                        </div>
                        <div class="custom--card section-bg">
                            <div class="card--body section-bg p-sm-5 p-3">
                                <div class="p-4">
                                    {% if 'email' in request.get_full_path %}
                                            <h3 class="mb-4">Password Reset Success</h3>
                                            <p>Check your email for instructions</p>
                                    {% endif%}
                                    {% if 'complete' in request.get_full_path %}
                                            <h3 class="mb-4">Password Reset Success</h3>
                                            <a href="{% url "signin" %}">Login</a>
                                    {% endif%}
                                </div> 

                                <div class="mt-4 mt-md-5 text-center">
                                    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Cash Lotto  . Crafted with <i class="mdi mdi-heart text-danger"></i> by Cash Lotto Inc</p>
                                </div>
                                
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dashboard Section Ends Here -->
{% endblock %}