{% extends "mainwebsite/base/base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block content %}
    <!-- inner hero section start -->
<section class="inner-banner bg_img" style="background: url('{% static 'mainwebsite/images/inner-banner/bg2.jpg' %}) top;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-xl-6 text-center">
        <h2 class="title text-white">Change Password</h2>
        <ul class="breadcrumbs d-flex flex-wrap align-items-center justify-content-center">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Change Password</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- inner hero section end -->


        <!-- Dashboard Section Starts Here -->
        <div class="dashboard-section padding-top padding-bottom ">
            <div class="container">
                <div class="row">
                    {% comment %} {% include 'mainwebsite/include/user-dashboard.html' %} {% endcomment %}
                    <div class="col-lg-9">
                        <div class="user-toggler-wrapper d-flex align-items-center d-lg-none">
                            <h4 class="title m-0">User Dashboard</h4>
                            <div class="user-toggler">
                                <i class="las la-sliders-h"></i>
                            </div>
                        </div>
                        <div class="custom--card section-bg">
                            <div class="card--body section-bg p-sm-5 p-3">
                                <div class="reset-header mb-5 text-center">
                                    <div class="icon"><i class="las la-lock"></i></div>
                                    <h3 class="mt-3">Reset Password</h3>
                                    <p>Enter your Email and instructions will be sent to you!</p>
                                </div>
                                <form autocomplete="off" method='POST' action='{% url 'password-reset' %}'>{%csrf_token%}
                                    <div class="form-group mb-3">
                                        {% if form.errors %}
                                        <div class="alert alert-primary" role="alert">
                                            Error: Please try again!
                                        </div>
                                         {% endif %}
                                        <label class="form-label" for="password">Current Email</label>
                                        {% comment %} <input id="password" type="password" class="form-control form--control" name="current_password" required="" autocomplete="off"> {% endcomment %}
                                        {% render_field form.email type='email' id='password' class="form-control form--control" name="current_password" required="" autocomplete="off"  %}
                                    </div>
                                    <div class="form-group mt-4">
                                        <button type="submit" class="cmn--btn active w-100">Change Password</button>
                                    </div>

                                </form> 
                                <div class="mt-5 text-center">
                                    <p class="text-muted mb-0">Remember It ?  <a href="{% url 'signin' %}"
                                            class="text-primary fw-semibold"> Sign In </a> </p>
                                </div>

                                <div class="mt-4 mt-md-5 text-center">
                                    <p class="mb-0">© <script>document.write(new Date().getFullYear())</script> Cash Lotto  . Crafted with <i class="mdi mdi-heart text-danger"></i> by Cash Lotto Inc</p>
                                </div>
                                
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dashboard Section Ends Here -->
{% endblock %}