{% extends "mainwebsite/base/base.html" %}

{% load static %}

{% block content %}
    <!-- inner hero section start -->
<section class="inner-banner bg_img" style="background: url({% static 'mainwebsite/images/inner-banner/bg2.jpg' %}) top;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-xl-6 text-center">
        <h2 class="title text-white">Privacy Policy</h2>
        <ul class="breadcrumbs d-flex flex-wrap align-items-center justify-content-center">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Privacy Policy</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- inner hero section end -->


    <!-- Privacy Policy Section Starts Here -->
    <section class="privacy-policy padding-top padding-bottom">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-3">
                    <ul class="privacy-policy-sidebar-menu">
                        <li>
                            <a href="#overview" class="active nav-link">Overview</a>
                        </li>
                        <li>
                            <a href="#data-collection" class="nav-link">Information Collection and Use</a>
                        </li>
                        <li>
                            <a href="#data-use" class="nav-link">Use of Information Collected by thecashlotto</a>
                        </li>
                        <li>
                            <a href="#data-disclosure" class="nav-link">Third Party Information Sharing and Disclosure</a>
                        </li>
                        <li>
                            <a href="#opt-out" class="nav-link">Your Rights to Opt-Out</a>
                        </li>
                        <li>
                            <a href="#children" class="nav-link">Our Policy Towards Children</a>
                        </li>
                        <li>
                            <a href="#contact-you" class="nav-link">When can Thecashlotto Contact You</a>
                        </li>
                        <li>
                            <a href="#changes" class="nav-link">Changes to this Policy</a>
                        </li>
                        <li>
                            <a href="#contact" class="nav-link">Our Contact Information</a>
                        </li>
                        <li>
                            <a href="#anti-spam" class="nav-link">Anti-Spam Policy</a>
                        </li>
                        <li>
                            <a href="#security" class="nav-link">Security of Personal Information</a>
                        </li>
                        <li>
                            <a href="#bankruptcy" class="nav-link">Mergers, Acquisitions, Sales, or Bankruptcy</a>
                        </li>
                        <li>
                            <a href="#cookies" class="nav-link">Our Cookie Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="privacy-policy-content">
                        <div class="content-item">
                            <h4 class="title" id="overview">Overview</h4>
                            <p>Thecashlotto is committed and under the legal obligation to safeguard your personal information when using our services. Our goal is to make the services we offer enjoyable and safe for our audience. This Privacy Policy outlines the use of any information that we collect from you through any of the channels available including email, phone or the online log in the platform.</p>
                            <p>So that we can provide you with the entire range of thecashlotto services, we sometimes collect information from you. Thecashlotto.com may contain hyperlinks to sites owned and operated by other persons other than thecashlotto. In such cases, we advise you to review their privacy policies before submitting any personal information to these websites. We shall not be held liable or responsible for the privacy practices of third-party websites and your interaction with these sites is therefore at your own risk. </p>
                            <p>In this Privacy Policy, 'You' or 'Your' are interpreted to mean you as a user or participant in the thecashlotto website. ‘We’, ‘Us’ or ‘Our’ mean thecashlotto. </p>
                            <p>All the information whether printed, transmitted or otherwise submitted to us through our site shall be taken to be the sole property of thecashlotto. As such, we shall be free to utilize this information for any purpose as long as it is legal as detailed in this Policy. </p>
                            <p>Thecashlotto reserves the right to avail your information to government officials or law enforcement agencies where necessary in compliance with the law of the land and region in which we conduct our services. </p>

                        </div>
                        <div class="content-item">
                            <h4 class="title" id="data-collection">Information Collection and Use:</h4>
                            <p>We collect, track or use the following information to enable us to provide, measure and improve our services over time.</p>
                            <p>Log Data: When you interact with our website and use our services, we may collect information such as IP addresses, Operating System, Browser type, Pages visited, the referring source, device information, cookie information, and search terms. </p>
                            <p>Basic Account Information: When you participate in surveys, fill online forms, or create a thecashlotto account, you knowingly provide personal information including username, email address, password, demographic and location information. Your name and username as provided to us will be publicly displayed on your profile page. </p>
                            <p>Transaction Information: To facilitate commercial transactions through our site, you may be required to provide payment information. This information is privately stored in our database and available to you in case you want to change or remove it. </p>

                        </div>
                        <div class="content-item">
                            <h4 class="title" id="data-use">Use of Information Collected by thecashlotto:</h4>
                            <p>Thecashlotto will use the personal information provided for a number of purposes some of which include: </p>
                            <p>Enhance User Experience: Your personal, profile and demographic data will be used to improve your experience on our site as well as enable us to develop and present content that is valuable to you. </p>
                            <p>Promotional Purposes: Through the contact information you provide us, we may send information about thecashlotto. </p>
                            <p>Site Analytics: Your profile, demographic, and personal data may be used for statistical analysis and research, our website improvement, editorial, and feedback purposes. </p>
                            <p>Future Use: Not all information collected by us is put to use immediately, some of it may be securely stored in our databases for future engagements such as communications regarding site updates, new services and products, upcoming events, or orders placed online. </p>

                        </div>
                        <div class="content-item">
                            <h4 class="title" id="data-disclosure">Third Party Information Sharing and Disclosure:</h4>
                            <p>Except as indicated in the circumstances below, thecashlotto does not disclose your private and personal information. </p>
                            <p>Service Provision: In order to provide you with thecashlotto products and services, we may share your personal information such as payment information with third party service providers in line with the confidential obligations stated in this Privacy Policy. Such sharing and disclosure of information are subject to the condition that the third parties will use the information only in pursuant to our guidelines and instructions. </p>
                            <p>Law and Harm: Where necessary, we may disclose your information to law enforcement agencies so as to comply with a regulation or legal request; to address fraud, technical or security issues; or to protect thecashlotto rights or property. </p>                            
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="opt-out">Your Rights to Opt-Out:</h4>
                            <p>As a user, you have a right to opt-out of receiving any communications either from us or our partners. You may do this by not submitting your personal information in the first place or unsubscribing from our marketing lists. thecashlotto provides you with the necessary tools and account settings to modify or access your personal information as provided to us. </p>
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="children">Our Policy Towards Children:</h4>
                            <p>It is not the intention of thecashlotto for anyone under the age of 18 to view the information and services given to us or our sponsors, affiliates, and advertisers. There is no information provided by or collected from children is deliberately and knowingly used for any promotional or marketing purposes inside or outside thecashlotto. No part of a thecashlotto site is designed to attract children. </p>
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="contact-you">When can Thecashlotto Contact You:</h4>
                            <p>Thecashlotto may contact you regarding any service or online content you may have signed up for so as to deliver the services to you. Also, we may contact you in relation to correspondence, comment or complaint we receive from you about our services. In the event your account status, subscriber agreements or privacy policy changes, we reserve the right to contact and inform you on the same. </p>
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="changes">Changes to this Policy:</h4>
                            <p>From time to time, we may where necessary revise this Privacy Policy. The most current version of the Privacy Policy will be the one governing the use of your information and you will be notified of its existence and location via the contact details associated with your account. </p>
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="contact">Our Contact Information:</h4>
                            <p>In case of any queries about this Privacy Policy statement, your dealings with our website, or the practices of the thecashlotto site, you can get in touch with us through the details provided on our Contact Us page. </p>                        
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="anti-spam">Anti-Spam Policy:</h4>
                            <p>Thecashlotto is committed and dedicated to fighting spam including any unsolicited bulk email. However, you may receive the following emails from thecashlotto. </p>
                            <ul class="info-list">
                            <li>Acknowledgments of application receipts and requests for additional actions.</li>
                            <li>Responses to inquiries on deposit, and payment status among other transactional requests.</li>
                            <li>Appreciation emails and thank you notes.</li>
                            <li>Promotional communication for our services and products as well as any changes in service provision.</li>
                            </ul>
                       </div>
                        <div class="content-item">
                            <h4 class="title" id="security">Security of Personal Information:</h4>
                            <p>To ensure your personal information is secure, we adhere to the generally accepted industry standards which include the use of physical, administrative and technical safeguards in protecting the information that our users provide us. Sensitive information such as credit card details and other financial data is protected using SSL encryption. Since no channel or method of information transmission or electronic storage is 100 percent secure, we cannot guarantee absolute security. However, we strive to utilize the necessary and commercially acceptable means to safeguard your personal information. </p>
                        </div>
                        
                        <div class="content-item">
                            <h4 class="title" id="bankruptcy">Mergers, Acquisitions, Sales, or Bankruptcy:</h4>
                            <p>In the event thecashlotto enters into a merger with or sold to a third party, we reserve the absolute right to assign or transfer the personal information in our custody as part of the acquisition, merger, sale or change of control. In the unfortunate event of insolvency, receivership, reorganization, or bankruptcy, we may not be in a position to control the flow and treatment of personal information. </p>
                            <p>In any of the scenarios described here, the information transferred or assigned will be utilized and manipulated subject to the Privacy Policy of the purchasing or assigned party. </p>
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="cookies">Our Cookie Policy</h4>
                            <p>On the thecashlotto website, cookies record information concerning your online preferences which in turn allows us to tailor our site and content to serve your interests. The cookie information enables us to find out useful data about your site visits and interactions. This gives us the insight on how to better your experience on our site. Certain sections of our website may have a specific reason why they use cookies such as to enable our website elements to work effectively on your device. </p>
                            <p>During your visit to thecashlotto.com, you may notice that some cookies are not related to our website or any of our contractors. We do not control the dissemination of such cookies and we always advise our site users to check and confirm with the third-party websites concerning their Cookie Policy. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Privacy Policy Section Ends Here -->
{% endblock %}