{% extends "mainwebsite/mainwebsite/base/base.html" %}

{% load static %}

{% block content %}
    <!-- inner hero section start -->
<section class="inner-banner bg_img" style="background: url('{% static 'mainwebsite/images/inner-banner/bg2.jpg'%}) top;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-xl-6 text-center">
        <h2 class="title text-white">Stake History</h2>
        <ul class="breadcrumbs d-flex flex-wrap align-items-center justify-content-center">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Stake History</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- inner hero section end -->
    
    <!-- Dashboard Section Starts Here -->
    <div class="dashboard-section padding-top padding-bottom">
        <div class="container">
            <div class="row">
                {% include 'mainwebsite/include/user-dashboard.html' %}
                <div class="col-lg-9">
                    <div class="user-toggler-wrapper d-flex align-items-center d-lg-none">
                        <h4 class="title m-0">User Dashboard</h4>
                        <div class="user-toggler">
                            <i class="las la-sliders-h"></i>
                        </div>
                    </div>
                    <div class="table--responsive--md">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Stake Date</th>
                                    <th>Game Type</th>
                                    <th>Numbers</th>
                                    <th>Price</th>
                                    <th>Winning Amount</th>
                                    <th>Status</th>
                                    <th>payment Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for stakehist in Stakehistory%}
                                <tr>
                                    <td class="trx-id" data-label="Transection ID">{{stakehist.date_stake}}, {{stakehist.date_stake|timesince}} ago</td>
                                    <td class="trx-type" data-label="Transection Type">{{stakehist.game_type}}</td>
                                    <td class="date" data-label="Date">{{stakehist.first_number}}-{{stakehist.second_number}}-{{stakehist.third_number}}- {{stakehist.fourth_number}}- {{stakehist.fifth_number}}</td>
                                    <td class="date" data-label="Date">{{stakehist.price}}</td>
                                    <td class="date" data-label="Date">{{stakehist.winning_amount}}</td>
                                    <td class="amount-status" data-label="Amount">Lost</td>
                                    <td class="amount-paid" data-label="Amount">N/A</td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard Section Ends Here -->
    
    {% endblock %}