{% extends "mainwebsite/base/base.html" %}

{% load static %}

{% block content %}
    <!-- inner hero section start -->
<section class="inner-banner bg_img" style="background: url('assets/images/inner-banner/bg2.jpg') top;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-xl-6 text-center">
        <h2 class="title text-white">Terms & Conditons</h2>
        <ul class="breadcrumbs d-flex flex-wrap align-items-center justify-content-center">
          <li><a href="{% url 'home'%}">Home</a></li>
          <li>Terms & Conditions</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- inner hero section end -->


    <!-- Privacy Policy Section Starts Here -->
    <section class="privacy-policy padding-top padding-bottom">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-3">
                    <ul class="privacy-policy-sidebar-menu">
                        <li>
                            <a href="#overview" class="active nav-link">Overview</a>
                        </li>
                        <li>
                            <a href="#Rules" class="nav-link">Rules</a>
                        </li>
                        <li>
                            <a href="#Description" class="nav-link">Description of Service</a>
                        </li>
                        <li>
                            <a href="#Procedures" class="nav-link">Procedures for handling your winning:</a>
                        </li>
                        <li>
                            <a href="#Purchase-Terms" class="nav-link">Purchase Terms</a>
                        </li>
                        <li>
                            <a href="#Disclaimer" class="nav-link">Disclaimer and Limitation of Liability</a>
                        </li>
                        <li>
                            <a href="#Responsible" class="nav-link">Responsible Gambling Policy</a>
                        </li>
                        <li>
                            <a href="#Assignment" class="nav-link">Assignment</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="privacy-policy-content">
                        <div class="content-item">
                            <h4 class="title" id="overview">Overview</h4>
                            <p>
                                Carefully read the terms and conditions below and privacy policy before transacting with thecashlotto. This is to ensure that you understand your legal obligations and rights with regard to thecashlotto.                            
                            </p>
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="Rules">Rules</h4>
                                <ol>
                                    <li> If you purchase from thecashlotto.com, you are consenting to abide by all the provisions detailed in this agreement between thecashlotto and you (the user).</li>
                                    <li> thecashlotto.com may add, change or remove certain sections of this agreement at any time. However, if it does so, the changes made will be displayed on this site and will come into force immediately. </li>
                                    <li> If any provision included in this agreement is not clear to you, we request that you clarify first before transacting or ordering from us. </li>
                                </ol> 
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="Description">Description of Service</h4>
                            <ol>
                                <li> Thecashlotto is an intermediary Lottery Service, which buys lottery tickets on behalf of its users. When you play on our site, we will buy lottery tickets as instructed by you for the games you specify. </li>
                                <li> Thecashlotto is neither a direct nor an indirect affiliate of any lottery commission program or operator in Ghana. We do not sell lottery tickets; thecashlotto does not receive commissions from lottery organizations in exchange for its service or participate in the earnings of winnings. </li>
                                <li> When someone places a bet on any of the games on thecashlotto, thecashlotto acts as an agent placing the bet on behalf of the user using thecashlotto.com, delivering stakes waged by users and handing over to users the prizes/winnings received in accordance with these terms. In other words, thecashlotto acts as an intermediary lottery service between the user and the licensed lottery operator(s) under the NLA in Ghana. </li>
                                <li> After the draw, you will be sent an email to notify you of the lottery outcome and your purchase status. thecashlotto will also inform you in the event you have won any winnings. </li>
                                <li> Thecashlotto has a password-protected section on its website that enables you to view your ticket purchase status, your tickets as well as other information pertaining to your account. </li>
                                <li> WINNINGS: thecashlotto will do the best of its ability to detect when you win and help you in collecting your winnings from the lotteries you play. </li>
                                <li> The ultimate responsibility rests with you to inform thecashlotto when you have won. </li>
                                <li> In certain circumstances such as when a lottery requires additional identification or when you win a jackpot, the lottery organization may require that you physically appear so as to collect your prize. </li>
                            </ol>   
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="Procedures">Procedures for handling your winnings:</h4>
                            <ol>
                                <li> On your behalf, thecashlotto offers to collect and transfer your prize from the lottery operator to your account.</li>
                                <li> Depending on the size of your winnings, we may send you an official lottery claim form that you fill, sign and send it back to us. We will then use this form plus your ticket to collect your winnings. The organization in charge of the lottery will send us a check bearing your name which only you can cash it or be deposited into a bank account in Ghana opened under your name.  Upon receiving the check, we shall notify you and make the necessary arrangements to enable you to receive the funds .</li>
                                <li> Where the lottery requires you to appear in person, you will do so and pick up your winning ticket at our offices. </li>
                                <li> Any third-party costs incurred as a result of the winnings collection process including the transfer of monies to you and the handling of the winning ticket will be borne by you. </li>
                                <li> The responsibility for reporting your income including the payment of taxes to the relevant Federal and local authorities lies on you. Consenting to this agreement also means you acknowledge the lottery organization may on your behalf retain part of your winnings and directly forward it to the relevant tax authority. </li>
                                <li> Any winnings handled on your behalf by thecashlotto will be credited directly to your thecashlotto account. You would have 15 days to advise where you’d like your money. </li>
                                <li> If for some reason the lottery operator does not deliver the winning prize to us, we will not shoulder any obligation to compensate you a corresponding amount. However, we will avail your winning ticket to you so that you can collect your prize from the lottery operator in person. </li>
                            </ol>
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="Purchase-Terms">Purchase Terms</h4>
                            <ol>
                                <li> <b>LEGALITY: </b> The validity of these terms and conditions is subject to the legal provision of Ghana. You are directly and solely responsible for ensuring the legal permissibility of this service.</li>
                                <li> <b> ELIGIBILITY: </b> thecashlotto requires that all users be 18 years of age and above. You are allowed to access and use the Services only if you are legally permitted to do so via the laws of Ghana. </li>
                                <li> <b>OWNERSHIP: </b> As the thecashlotto user, you are the lottery ticket sole owner and any winnings which arise from the tickets we buy on your behalf. </li>
                                <li> <b>TRANSFER: </b> You acknowledge that your lotto tickets can neither be transferred nor assigned to another party. </li>
                                <li> <b> TAXES: </b> As a thecashlotto user, you are responsible for the payment of all relevant taxes associated with the income you receive from your lottery winnings. </li>
                                <li> <b>CURRENCY: </b> To the extent that we credit or transfer you any amounts under these Terms, we will do so in the Ghana Cedi currency. When you make payments to thecashlotto, you can do so with only the Ghana Cedi currency. </li>
                                <li> <b>CHARGES AND CANCELLATIONS: </b> The purchase of a lotto ticket from thecashlotto is a direct authorization by you to impose charges to your credit card or other forms of payment both for the ticket fees and any other goods or services pertaining to the site. After purchase has been made on site, thecashlotto will not be able to refund the payment. However, if you believe you’ve been wrongfully charged, you may request a refund. </li>
                                <li> <b>START OF PURCHASE: </b> As soon as your payment is verified and thecashlotto is able to buy a lottery ticket on your behalf, your purchase will commence immediately. Our system endeavors to prevent you from participating in the lottery draw in case of miss matching the due date. Therefore, if you suddenly bought the ticket after the draw begins, you will be automatically forwarded to the next draw. </li>
                                <li> <b>TERM OF AGREEMENT: </b> This agreement will take effect on the first date following the purchase of a lottery ticket on your behalf. </li>
                                <li> <b>WINNINGS: </b> All winnings will be processed as per the terms detailed in the ‘Description of Service’ section above. Thecashlotto will expend every effort to detect if you are a winner and collect all winnings on your behalf. We will notify you with immediate effect when we collect the said winnings. Upon the collection, thecashlotto will ask you for guidelines on what to do with the winnings. In the event you do not contact thecashlotto within 15 days after the winning draw date with elaborate instructions on how to process the winnings, all winnings will be transferred to your user account only if winnings are noticed by thecashlotto.
                                <p>Thecashlotto does not bear any responsibility for your winnings yet to be collected from the lottery organization. We are an intermediary Service and we will only attempt to collect your winnings on your behalf when instructed to do so by you. However, thecashlotto has the ultimate responsibility to avail to you upon request your winning ticket.</p>
                                <p>We will also attempt to notify you of any prizes you win. As the user, you have the responsibility to inform thecashlotto of any winnings within the time limits set by the respective lottery operators for prize claim. </p></li>
                                <li> <b>WITHDRAWING WINNINGS: </b> Small winnings will be credited to your account immediately. The minimum withdrawal amount is GHC10. Only winnings can be withdrawn. No charges are deducted from your winnings. By submitting a withdrawal request, you approve the amount to be sent to your payment number or account. </li>
                                <li> <b>ERRONEOUS INFORMATION: </b> Thecashlotto will carefully record the winning number for all official lottery drawings. In the event wrong information is sent over to you the user, you reserve no right to any claim as shown by such erroneous information. Instead, you waive any claim against thecashlotto for receipt of erroneous information. </li>
                                <li> <b>FORCE MAJEURE: </b> Thecashlotto will not be liable for delay or failure in undertaking an obligation under this agreement such as collecting winnings and purchasing lottery tickets if it is prevented by causes beyond its control, including extreme weather, natural catastrophes, actions of lottery organizations or commissions, local and federal governments, slowdowns or transportation stoppages, computer viruses, war, network slowdown, or any reason deemed as beyond the control of thecashlotto and its employees or agents. </li>
                                <li> <b>JURISDICTION: </b>This agreement shall be governed by the laws and regulations of Ghana. </li>
                                <li> <b>SCOPE OF THE AGREEMENT: </b> These terms and conditions including any future amendments or updates constitute the whole and entire agreement between thecashlotto.com and any user registered to the site or taking part in the activities proposed by thecashlotto. Any promise, presentation, consent or undertaking whether in writing or verbally which contravenes these terms and conditions will be null and void. </li>
                                <li> <b>REFUND POLICY: </b> If thecashlotto is unable to fulfill an offer to purchase a ticket for a user for any reason whatsoever before the draw commences, the offer to purchase is void and a full refund will be made to the user's thecashlotto account within 24 Hours. </li>
                                <li> <b>PREDICTION SERVICE:</b>Thecashlotto doesn’t offer prediction services for Ghana Lotto or any other lottery games.  </li>
                            </ol>
                                
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="Disclaimer">Disclaimer and Limitation of Liability</h4>
                            <p>The materials presented on this site are provided as they are and have no warranty either implied or expressed such as implied warranties of merchantability, non-infringement, and fitness for a certain purpose. Thecashlotto does not guarantee the completeness, the usefulness or accuracy of any information on this site. Thecashlotto also does not warrant that the information contained in materials available on site or their functions are error-free or uninterruptible. You site user and not thecashlotto, is responsible for the entire cost of all necessary repair, servicing, and correction. .</p>
                            <p>Under no circumstances, will thecashlotto assume liability for any consequential or special damages resulting from the inability to use or the use of information presented on this site irrespective of whether thecashlotto has been notified of the possibility of such damages or not. Thecashlotto total liability including losses, damages, and causes of action will in no event exceed the amount you paid to thecashlotto in the course of your last transaction for products or services purchased on this site. Thecashlotto shall not be held liable under any circumstances including negligence for the settlement of a lottery’s jackpot. .</p>
                            <p>Thecashlotto is neither a lottery operator nor holds lottery draws. Each of your lottery participation is purely voluntary and done at your own risk. In case of any dispute with a lottery operator or other third party with regards to a lottery draw, you agree that thecashlotto will not be held accountable for any damages or claims arising from such a dispute. Thecashlotto reserves the right but not an obligation to monitor such disputes. .</p>
                            <p>Except otherwise stated, thecashlotto does not make any warranties, representations or conditions either implied or express as to the safety of the information you provide or the activities you participate in during your use of the site. .</p>
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="Responsible">Responsible Gambling Policy</h4>
                            <p>Thecashlotto encourages responsible attitudes and approaches towards gambling. In this regard, we prohibit any person less than 18 years of age from participating or registering an account with us. We also recommend that all users limit their lottery draws participation and not entirely depend on the lottery as a source of income. In the event you strongly feel your usage of our services amounts to irresponsibility, we encourage that you review your participation before proceeding.</p>
                        </div>
                        <div class="content-item">
                            <h4 class="title" id="Assignment">Assignment</h4>
                            <p>The terms and conditions including any licenses and rights granted here should not be assigned or transferred by you the user but thecashlotto reserves the right to assign without notifying you.</p>
                            <p>No applicable law may allow for the exclusion of the above limitations of liability or implied warranties.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Privacy Policy Section Ends Here -->
{% endblock %}