{% extends "mainwebsite/base/base.html" %}

{% load static %}

{% block content %}
    <!-- inner hero section start -->
<section class="inner-banner bg_img" style="background: url({% static 'mainwebsite/images/inner-banner/bg2.jpg'%}) top;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-xl-6 text-center">
        <h2 class="title text-white">User Dashboard</h2>
        <ul class="breadcrumbs d-flex flex-wrap align-items-center justify-content-center">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Dashboard</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- inner hero section end -->

    <!-- Dashboard Section Starts Here -->
    <div class="dashboard-section padding-top padding-bottom">
        <div class="container">
            <div class="row">
                {% include 'mainwebsite/include/user-dashboard.html' %}
                <div class="col-lg-9">
                    <div class="user-toggler-wrapper d-flex align-items-center d-lg-none">
                        <h4 class="title m-0">User Dashboard</h4>
                        <div class="user-toggler">
                            <i class="las la-sliders-h"></i>
                        </div>
                    </div>
                    <div class="row justify-content-center g-4">
                        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-10">
                            <div class="dashboard__card">
                                <div class="dashboard__card-content">
                                    <h2 class="price">GH₵3750</h2>
                                    <p class="info">TOTAL BALANCE</p>
                                    <a href="{% url 'transaction' %}" class="view-btn">View All</a>
                                </div>
                                <div class="dashboard__card-icon">
                                    <i class="las la-wallet"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-10">
                            <div class="dashboard__card">
                                <div class="dashboard__card-content">
                                    <h2 class="price">GH₵4550</h2>
                                    <p class="info">TOTAL DEPOSIT</p>
                                    <a href="{% url 'deposit' %}" class="view-btn">View All</a>
                                </div>
                                <div class="dashboard__card-icon">
                                    <i class="las la-wallet"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-10">
                            <div class="dashboard__card">
                                <div class="dashboard__card-content">
                                    <h2 class="price">GH₵2500</h2>
                                    <p class="info">TOTAL WITHDRAW</p>
                                    <a href="{% url 'withdrawal' %}" class="view-btn">View All</a>
                                </div>
                                <div class="dashboard__card-icon">
                                    <i class="las la-money-check"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pt-5 row gy-4 justify-content-center">
                        {% for draw in draws|slice:":1" %}
                        <!--Play Game-->
                        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-6">
                            <div class="game-item">
                                <div class="game-inner">
                                    <div class="game-item__thumb">
                                        <img src="{% static 'mainwebsite/images/game/lucky-tuesday.jpg'%}" alt="game">
                                    </div>
                                    <div class="game-item__content">
                                        <h4 class="title">{{draw.add_draw.draw_type}}</h4>
                                        <p class="invest-info">{{draw.add_draw.date_select}}</p>
                                        <p class="invest-amount">Lottery Ends in: </p>
                                        <div class="container">
                                            <div class="row">
                                            <div class="col-3">
                                                <p>00<br/>days</p>
                                            </div>
                                            <div class="col-3">
                                                <p>00<br/>hrs</p>
                                            </div>
                                            <div class="col-3">
                                                <p>00<br/>min</p>
                                            </div>
                                            <div class="col-3">
                                                <p>00<br/>sec</p>
                                            </div>
                                            </div>
                                            
                                        </div>
                                        
                                        <a href="{% url 'gamedetails' %}" class="cmn--btn active btn--md radius-0">Play Now</a>
                                    </div>
                                </div>
                                <div class="ball"></div>
                            </div>
                        </div>
                        <!--End Play Game-->
                        {% endfor%}
                    </div>
                    <div class="table--responsive--md mt-5">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Transaction ID</th>
                                    <th>Transaction Type</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="trx-id" data-label="Transection ID">#481XV93NCKD0</td>
                                    <td class="trx-type" data-label="Transection Type">Withdraw</td>
                                    <td class="date" data-label="Date">12 Mar, 21 at 12:30 AM</td>
                                    <td class="amount" data-label="Amount">$150.50</td>
                                </tr>
                                <tr>
                                    <td class="trx-id" data-label="Transection ID">#V93N481XCKD0</td>
                                    <td class="trx-type" data-label="Transection Type">Deposit</td>
                                    <td class="date" data-label="Date">12 Mar, 21 at 12:30 AM</td>
                                    <td class="amount" data-label="Amount">$500.50</td>
                                </tr>
                                <tr>
                                    <td class="trx-id" data-label="Transection ID">#1XCKD0V93N48</td>
                                    <td class="trx-type" data-label="Transection Type">Deposit</td>
                                    <td class="date" data-label="Date">12 Mar, 21 at 12:30 AM</td>
                                    <td class="amount" data-label="Amount">$350.50</td>
                                </tr>
                                <tr>
                                    <td class="trx-id" data-label="Transection ID">#V981XCKD03N4</td>
                                    <td class="trx-type" data-label="Transection Type">Withdraw</td>
                                    <td class="date" data-label="Date">12 Mar, 21 at 12:30 AM</td>
                                    <td class="amount" data-label="Amount">$250.50</td>
                                </tr>
                                <tr>
                                    <td class="trx-id" data-label="Transection ID">#481XV93NCKD0</td>
                                    <td class="trx-type" data-label="Transection Type">Deposit</td>
                                    <td class="date" data-label="Date">12 Mar, 21 at 12:30 AM</td>
                                    <td class="amount" data-label="Amount">$150.50</td>
                                </tr>
                                <tr>
                                    <td class="trx-id" data-label="Transection ID">#V93N481XCKD0</td>
                                    <td class="trx-type" data-label="Transection Type">Withdraw</td>
                                    <td class="date" data-label="Date">12 Mar, 21 at 12:30 AM</td>
                                    <td class="amount" data-label="Amount">$500.50</td>
                                </tr>
                                <tr>
                                    <td class="trx-id" data-label="Transection ID">#1XCKD0V93N48</td>
                                    <td class="trx-type" data-label="Transection Type">Deposit</td>
                                    <td class="date" data-label="Date">12 Mar, 21 at 12:30 AM</td>
                                    <td class="amount" data-label="Amount">$350.50</td>
                                </tr>
                                <tr>
                                    <td class="trx-id" data-label="Transection ID">#V981XCKD03N4</td>
                                    <td class="trx-type" data-label="Transection Type">Withdraw</td>
                                    <td class="date" data-label="Date">12 Mar, 21 at 12:30 AM</td>
                                    <td class="amount" data-label="Amount">$250.50</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Dashboard Section Ends Here -->

{% endblock %}